body {
    background: #5c5c5c url(/assets/img/cloud-bar.png) repeat-x;
}

a:hover {
    color: #686666;
}

.docs article code[class*="language-"],
.docs article pre[class*="language-"] {
    font-size: 14px;
}
code[class*="language-"],
pre[class*="language-"] {
    color: #ccc;
    text-shadow: none;
}
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background: #474747;
}
.token.punctuation {
    color: #b2b2b2;
}
.token.boolean,
.token.constant,
.token.deleted,
.token.number,
.token.property,
.token.symbol,
.token.tag {
    color: #e5500f;
}
.token.attr-name,
.token.scope {
    color: #e5500f;
}
.token.builtin,
.token.char,
.token.inserted,
.token.selector,
.token.string {
    color: #31be3a;
}
.language-css .token.string,
.style .token.string,
.token.entity,
.token.operator,
.token.url {
    color: #ccc;
}
.token.atrule,
.token.attr-value,
.token.keyword {
    color: #00b3ff;
}
.token.function {
    color: #ccc;
}
.token.important,
.token.regex,
.token.variable {
    color: #e5500f;
}
.token.bold,
.token.important {
    font-weight: 700;
}
.token.italic {
    font-style: italic;
}
.sidebar {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.docs article h2 a,
.docs article h2 a:hover {
    color: #ccc;
}
#search-input {
    background: #525252;
}
.twitter-typeahead .tt-dropdown-menu {
    background-color: #525252;
}
footer.main {
    border-top: 3px solid #474747;
    background: 0 0;
}
footer.main > ul > li > a {
    color: #f4645f;
}

.panel-header,
.jplist-panel.panel-bottom {
    background: #4d4d4d;
}
.jplist-panel.panel-top,
.bg-light,
.sub-header,
.sub-footer {
    background: #767676 !important;
}
.jplist .list,
.core-content {
    background: rgb(131, 131, 131) !important;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #ccc !important;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

#toggle-more-options,
.jplist-panel .jplist-range-slider label {
    color: #ccc !important;
}

hr {
    background-color: white;
}
